html, body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	background-color: #F2F2F3;
	max-width: 1024px;
	max-height: 768px;
	margin: 0 auto;
}

.container {
	-ms-zoom: 0.73;
	zoom: 0.73;
	width: 1100px;
	position: relative; }

.header {
	/*width: 100%;*/
	height: 75px;
	background-color: #FAA21D; }

	.header img {
		float: left;
		margin-top: 15px;
		margin-left: 50px;
	} 

	.header .support {
		float: right;
		color: white;
		font-size: 21px;
		margin-right: 50px;
		margin-top: 25px;
	}

.content {
	position: relative;
	margin-top: 60px;
	margin-left: 40px;
	z-index: 1;
	width: 1050px;
	background-color: #F7FAFC;
	border-bottom: 1px solid rgb(221, 221, 223); }

	.content .content_header {
		font-size: 52px;
		font-weight: 100;
		line-height: 62px;
		padding: 20px 0px;
		background-color: white;	
		border-top: 5px solid #E6E9EB; 
		border-bottom: 1px solid rgb(221, 221, 223); 
	}

	.content_header p {
		margin-left: 50px;
	}

	.content .iphone {
		position: absolute;
		left: 725px;
		top: 40px;
	}

	.content .install {
		margin: 25px 50px;
	}

	.content .note {
		font-size: 28px;
		line-height: 34px;
		font-weight: 100;
	}

	.content .download {
		height: 100px;
		width: 295px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: #FAA21D;
	}

	.content .install img {
		position: relative;
		top: -2px;
		left: 10px;
		float: left;
		height: 38px;
	}

	.content .largeNote {
		font-size: 28px;
		font-weight: 100;
		color: white;
		line-height: 34px;
	}

	.content .smallNote {
		font-size: 18px;
		margin-right: 12px;
	}

.after {
	position: absolute;
	text-align: center;
	top: 135px;
	z-index: 0; }

	.after .content_header {
		/*height: 100px;*/
		padding-top: 50px;
	}

	.after .stores {
		top: 0;
		left: 0;
		margin: 50px;
	}

.options {
	position: relative;
	margin-bottom: 95px;
	width: 1050px;
	margin-left: 21px;
	top: 150px;
	font-size: 21px;
	line-height: 60px;
	height: 190px;
	border-top: 5px solid #E6E9EB; 
	background-color: #F7FAFC; }

	.options-list {
		line-height: 60px;
	}
	.options .other {
		border-bottom: 1px solid rgb(221, 221, 223);
	}

	.options .opts {
		line-height: 60px;
		margin-left: 50px;

	}

	table, td {
		margin-left: 50px;
		margin-top: -60px;
	}

	td {
		padding-right: 180px;
	}

	.options .last {
		padding-right: 0px;
	}

	.options .arrow {
		position: relative;
		top: 2.5px;
	}

	.options a {
		color: #FAA21D;
	}

	.tableRule {
		position: relative;
		top: 65px;
		width: 95%;
		float: right;
		border-bottom: 1px solid rgb(221, 221, 223);
	}

.stores {
	text-align: center;
	position: relative;
	top: 45px; }

.footer {
	height: 45px;
	/*width: 100%;*/
	position: absolute;
	top: 140.5%;
	background-color: #3E4C57; }

	.footer .license {
		position: absolute;
		top: 15px;
		left: 40%;
		color: white;
		font-size: 14px;
	}