/* Alexey's stylesheet
*  For Main page
*
*/
html, body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	background-color: #f2f2f3;
	max-width: 1024px;
	max-height: 768px;
	margin: 0 auto;
}

body {
    padding-top: 50px;
    padding-bottom: 40px;
}

.navbar-bodhi {
	height: 55px;
	background-color: #FAA21D;
}

.navbar-bodhi .navbar-brand {
	padding-top: 12px; 
}

.navbar-bodhi .navbar-brand img {
	height: 32px;
}

.navbar-bodhi .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 14px;
}

.navbar-bodhi .nav>li>a {
	padding-top: 26px;
	padding-bottom: 4px;
}

.navbar-bodhi .nav>li>a:focus, .navbar-bodhi .nav>li>a:hover {
    background-color: #FAA21D;
}

.footer {
	height: 40px;
	background-color: #3e4c57 !important;
    position: fixed;
    bottom: 0;
    z-index: 100000;
    left: 0;
    right: 0;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}

.footer .footerContent {
    text-align: center;
    margin: auto;
    width: 70%
}

.container {
	margin-top: 50px;
	padding: 0px;
	padding-bottom: 50px;
}

.container .content {
	background-color: #F7FAFC;
}

.container .content .header {
	font-size: 52px;
	line-height: 62px;
	padding: 10px 0px;
	background-color: white;	
	border-top: 5px solid #e6e9eb; 
	text-align: center;
	color: #676A6C;
}

.container .content .header h1 {
	font-size: 42px;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 5px;
}

.container .content .header h2 {
	font-weight: 200;
	margin-top: 0px;
}

.container .content .info .item {
	padding: 10px;
}


.info .item .logo {
float: left;
width: 120px;
margin-right: 20px;
text-align: right;
 height: 135px; 
}

.info .item .logo>img {
	margin-top: -20px;
}

.info>.row {
	margin-left: 0px;
	margin-right: 0px;
}

.info>.row {
	border-bottom: 1px solid rgb(221, 221, 223);
}

.info>.row>div {
	border-bottom: 1px solid rgb(221, 221, 223);
}

.info>.row:first-child {
	border-bottom-width: 0px;
}

.info .item {
	text-decoration: none;
	font-weight: 200;
}

.info .item div h1 {
	color: #FAA21D;
	font-size: 26px;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 40px;
}

.info .item div p {
	font-size: 20px;
	color: #676A6C;
	margin-bottom: 30px;
}

.info .item a:focus, .info .item a:hover {
	text-decoration: none;
}

.stores {
	float: center;
	margin-bottom: 20px;
}

.stores a {
	margin-left: 10px;
}

.stores a:first-child {
	margin-left: 20px;
}

.stores a:last-child {
	margin-right: 20px;
}

.stores a img {
	width: 120px;
}

.info>.row>div {
		min-height: 220px;
	}

@media (min-width:992px) {
	.navbar-bodhi .container-fluid, .container {
		width: 980px;
	}

	.navbar-bodhi .container-fluid {
		padding: 0px;
	}

	.info>.row {
		border-bottom-width: 0px;
	}

	.info>.row>div {
		min-height: 250px;
	}

	.info>.row>div {
		border-bottom-width: 0px;
	}

	.info>.row:first-child {
		border-bottom: 1px solid rgb(221, 221, 223);
	}

	.info>.row .col-md-6:last-child {
		border-left: 1px solid rgb(221, 221, 223);	
	}
}
